
<div class="well well-login">
	{{#if signedup}}
	  <p>You are already Sign Up!</p>
	{{else}}
	  {{#if errorMessage}}
	    <div class="alert alert-danger">{{errorMessage}}</div>
	  {{/if}}
	  <form class="form" {{action signup on="submit"}}>
	    <h2>Sign Up</h2>
		<div class="form-group">
			<label for="">Email address/Username</label>
			{{input value=username type="text" placeholder="Email address/Username" class="form-control" }}
		</div>
		<div class="form-group">
			<label for="">Password</label>
			{{input value=password type="password" placeholder="Password" class="form-control"}}
		</div>
		<div class="form-group">
			<label for="">re-Password</label>
			{{input value=password type="password" placeholder="Password" class="form-control"}}
		</div>
    	<div class="form-group">
    		{{input class="btn btn-primary btn-lg btn-block" type="submit" value="Signup"}}
    	</div>
	  </form>
	{{/if}}
	
</div>

<p>Welcome Ember.js!  {{#link-to 'index.login'}}login{{/link-to}}</p>
